.about-banner {
    background:
    linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.4)
    ),
    url('../assets/about-us/banner.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 3rem;
}

.about-banner h1 {
    font-size: 4rem;
}

.about-banner h2 {
    font-size: 2rem;
}

.about-card {
    max-width: 50rem;
    margin: 5rem auto;
}

@media screen and (min-width: 768px) {
    .about-card {
        max-width: 50rem;
        margin: 9rem auto;
    }

    .about-banner h1 {
        font-size: 6rem;
    }

    .about-banner h2 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1100px) {
    .about-card {
        max-width: 59rem;
    }
}