
.underline-text {
    text-decoration: underline;
    padding-bottom: 5px;
}

.formcontact{
    width: 20rem;
}

.textArea{
    resize: none;
}

@media screen and (max-width: 500px){
    .formcontact{
        width: 15rem;
    }
}