
.underline-text {
    text-decoration: underline;
    padding-bottom: 5px;
}

.formcontact{
    width: 20rem;
}

.buttonSend{
    width: 100%;
    background-color: #A38F85;
    border: #A38F85;
}
.buttonSend:hover{
    background-color: #DB9A95;
}
.textArea{
    resize: none;
    border: 0.5px solid #4D423A;
}
.inputs{
    border: 0.5px solid #4D423A;
}
.anchorContact{
    text-decoration: none;
    color: #4D423A;
    font-size: 1.5rem;

}
.anchorContact:hover{
    color:#DB9A95 ;
}
bi:hover{
    color:#DB9A95 ;
}

.name{
    font-weight: 600;
    text-align: center;
}

@media screen and (max-width: 500px){
    .formcontact{
        width: 15rem;
    }
}