:root {
    --background: #DAB49C;
    --secondary: #DB9A95;
    --primary: #A38F85;
    --shadows: #CDC6C3;
    --black: #4D423A;
    --title: 'Playfair Display', serif;
    --body: 'Montserrat', sans-serif;
}

body {
    color: var(--black);
    font-family: var(--body);
}

h1, h2, h3 {
    font-family: var(--title);
}

.small-header {
    background-color: var(--background);
    font-size: 0.8rem;
}

.nav-logo {
    width: 200px;
}

.nav-logo-small {
    width: 150px;
}

.nav-icons {
    color: var(--black);
}

.nav-icons:hover {
    color: var(--secondary);
}

.primary-btn {
    background-color: var(--primary);
    color: white;
    font-weight: bold;
}

.primary-btn:hover {
    background-color: var(--secondary);
    color: var(--black);
}

.secondary-btn {
    border: 2px solid var(--secondary);
}

.secondary-btn:hover {
    background-color: var(--primary);
    color: white;
    font-weight: bold;
}