
.formLogin-Signup{
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.buttonsignlog{
    width: 100%;
    background-color: #A38F85;
    border: #A38F85;
    font-weight: 600;
}
.buttonsignlog:hover{
    background-color: #A38F85;
    
}
.underline-text {
    text-decoration: underline;
    padding-bottom: 5px;
}
.inputs{
    border: 0.5px solid #4D423A;
    width: 100%;
}
.buttonFinal{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #4D423A;
}
@media screen and (min-width: 300px) and (max-width: 500px){
    
    .formLogin-Signup{
        width: 15rem;
    }
    
}