
.formLogin-Signup{
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.underline-text {
    text-decoration: underline;
    padding-bottom: 5px;
}
.buttonFinal{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #4D423A;
}
@media screen and (min-width: 300px) and (max-width: 500px){
    
    .formLogin-Signup{
        width: 15rem;
    }
    
}